@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* css reset

*, *::before, *::after {
    box-sizing: border-box;
}

*,body,html {
    padding:0;
    margin:0;
    font: inherit
}

body, html {

    height: 100%;
}

body {
    line-height: 1.4;
}

img,picture,svg {
    max-width: 100%;
    display: block;

}



*/



*,html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    line-height: 1.4em;
    font-size: 1.2rem;
    font-weight: 100;
    background-color: white;
    margin: 0;
    padding: 0;
}

.highlight {
    color: #6ae4ff;
}

.line {
    max-width: 85%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* header */


a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}



header .logo {
    font-size: 1.6rem;
    font-weight: bold;
}




header .container {
    display: flex;
    align-items: center;
    justify-content:  space-between;
}

header .container nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container nav ul li {
    display: inline-block;
    padding: 1.3rem;
}

header .container nav ul li a:hover {
    color:#6ae4ff;
   
}


/* hero */

section.hero {
    height: 88.5vh;
}

section.hero .container  {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}


section.hero img {
    max-width: 30%;
}

section.hero #hero__text {
    font-weight: 100;
    letter-spacing: .2rem;
    font-size: 2.5rem;
}


/* about me */

section.about {
    margin: 5rem 0;
    padding:1rem;
    line-height: 3rem;
}


section.about h2 {
    font-weight: 400;
}


/* footer */


footer {
    background-color: black;
    padding: 3rem;
}

footer .container {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}


footer a {
    color: white;
    padding: 1rem;
}

footer a:hover {
    color:#6ae4ff;
}


#cursor {
    animation: blink 1.1s  infinite;
}


@keyframes blink {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* projects */


.projects {
    margin: 5rem 0;
    text-align: center;
}

.projects h2 {
    font-weight: 100;
    margin-bottom: 6rem;
}

.projects .project {
    margin: 1rem 0;
    padding: 1rem;
}

.projects .project a:hover {
    color: #6ae4ff;
}


/* blogs */

.blogs {
    margin: 5rem 0;
}

.blogs h2 {
    text-align: center;
    font-weight: 100;
    margin-bottom: 6rem;
}

.blogs .blog {
    border: 0;
    border-bottom: 1px solid rgba(1,1,1, 0.1);
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    margin: 3rem 0;
    font-size: 1rem;
}

.blogs .blog:last-child {
    border-bottom: none;
}

.blogs .blog .blog__title {
    display: inline-block;
    font-weight: 400;
    font-size: 1.2rem;
}

.blogs .blog .blog__title:hover {
    color:#6ae4ff;
}

.blogs .blog .blog_text {
    margin-left: 2rem;
    padding:0;
    
}

.blogs .blog img {
    width: 30%;
}
